
.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #25272d;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.card-header{
    border-bottom: 1px solid #25272d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.card-header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    background-color: white;
    transition: 0.5s all ease-in-out;
    & i{
        color: black;
    }
    &:hover{
        background-color: red;
    };
}

/* Tableau  */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    /*border-bottom: 1px solid #dddddd;*/
    border: 1px solid #ffffff;
}
